*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(.//Screenshot.png);
	background-position: center;
	background-size: cover;
	position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;

}
p{
    font-size:50px;
    color:chartreuse;
}